/* from lesson with Mr Schalk, Always do this */
*{box-sizing: border-box;}

/* added this to allow internal links to scroll to desired content instead of directly taking you there */
*{scroll-behavior: smooth;}

/* to see where i got my color-scheme follow this link:" https://coolors.co/004e89-ff8200-69140e-173753-868784 */
body{
    background-color: #868784;
}

/* made header roughly the same width of the section containers so the overall flow can look better [Mr Abdullah said it would make the flow and whole page layout better, and i agree] */
header{
    background-color: #173753;
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 15.2%;
    right: 4%;
    top: 2%;
    width: 79%;
    height: 25%;
    margin: 0em 2em 2em 2em;
    border: .1em;
    padding: 1% 1% 1% 1%;
}

/* added a shadow-hover affect to header, so people can know they are currently on it and to help separate it from the content below */
header:hover{
    box-shadow: 0 5px 15px rgb(0, 0, 0); 
}

#name {
    position: relative;
    z-index: 1;
    left: 0;
    top: 0em;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-align: center;
    margin: .5% .1em .1em .1em;
    padding: 0 .2em .1em .2em;
    text-decoration-line: underline;
}

#date-of-birth{
    position: relative;
    z-index: 1;
    left: .5em;
    top: .1em;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: center;
    margin: .1em .2em .1em .1em;
    padding: .1em .2em .5em .2em;
}

#personal-description{
    position: relative;
    z-index: 1;
    left: 0;
    top: .1em;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: .9em;
    text-align: center;
    margin: .5em 1em 1em 1em;
    border: .1em;
    padding: .5em 3.5em .5em 3.5em;
}

/* everything in nav/side-bar */
/*the nav-container is to shape and size the navigation menu*/
#nav-container{
    background-color: #69140E;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100;
    width: 15%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#profile-picture{
    position: absolute;
    border-radius: 50%;
    width: 75%;
    margin: 10%;
    border: solid rgb(0, 0, 0) .2em;
}
#profile-picture:hover{
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}
/* added a shadow hover affect to nav, so people can know they are currently on it */
#nav-container:hover{
  box-shadow: 0 5px 15px rgb(0, 0, 0);  
}
/* h2=nav heading */
h2{
    position: relative;
    top:25%;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7em;
    text-align: center;
    margin: .5em .2em .2em .2em;
    border: solid 0.1em black;
    padding: .1em .2em .1em .2em;
    text-decoration-line: underline;
}
#nav-list{
    position: relative;
    top: 25%;
    color: white;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
    text-align: left;
}
/* i seperated the nav-list from nav structure, for the nav-list provides the style and navList-structure, structures the list */
.nav-list-structure {
    margin-bottom: 1em;
    margin-right: 3em;
    margin-left: .1em;
    text-align: left;
}
/* how the link should look when not hovered or active */
.nav-link{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.nav-link:hover{
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    box-shadow: 0 0px 20px rgb(0, 0, 0);
    font-size: 1.5em;
    border: solid 0.1em black;
    padding: .1em .1em .1em .1em;
    margin-right: 1em;
    margin-left: -0.5em;
}
#contact-container{
   position: relative;
   top: 29%;
   left: 0;
   margin: 0em 0em 0em 0em;
   display: flex;
}

#link-img-mail{
    border-radius: 50%;
    width: 50%;
    margin: 1em;
    background-color: transparent;
}
#link-img-mail:hover{
    box-shadow: 0px 5px 15px white;
}

#link-img-phone{
    border-radius: 50%;
    width: 50%;
    margin-left: .1em;
    background-color: transparent;
    margin: 1em;
}
#link-img-phone:hover{
    box-shadow: 0px 5px 15px white;
}
/* everything in main */
main{
    position: absolute;
    top: 25%;
    left: 15%;
    bottom: 10%;
}
/* for the position of the sections */
section{
    margin: 2em 2em 2em 2em;
    border: solid .2em black;
    padding: .1em 1em 1em .4em;
    text-align: center;  
}
/* added a shadow hover affect to content containers, so people can know which part they are currently on and to separate each part from one another */
section:hover{
    box-shadow: 0 7px 17px rgb(0, 0, 0);
}
/* h3=content heading */
h3{
    background-color: #FF8200;
    margin: 1em 1em 1em 1em;
    padding:.4em .4em .4em .4em;
    border: solid .1em black;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}
/* h4= content sub heading */
h4{
    background-color: #173753;
    color: white;
    margin: 1em 3em 1em 3em;
    padding: .1em 0em .1em 0em;
    border: solid .1em black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;

}
#description{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
#Ged-link {
    color: #FF8200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 2em;
}
#Ged-link:hover{
    background-color: #FF8200;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 0.1em rgb(0, 0, 0);
    padding: .1em .1em .1em .1em;
    
}
#CodeSpace-link{
    color: #FF8200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 2em;
}
#CodeSpace-link:hover{
    background-color: #FF8200;
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 0.1em rgb(0, 0, 0);
    padding: .1em .1em .1em .1em;
}
p{
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
.list-container{
    list-style-type: none;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 1em 1em 1em 0em;
}
.skills-headings{
    background-color: #173753;
    color: white;
    margin: 1em 1em 1em 1em;
    padding: .1em .1em .1em .1em;
    border: solid .1em black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
}
#skills-container {
    display: flex;
} 
ul {
    display: flex;
    flex-direction: column;
    margin: 0 5.5em 1em 5.5em;
}
.skills-interest-List{
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin-bottom: .4em;
}
/* everything in the footer */
footer{
    background-color: #173753;
    background-size: cover;
    position: absolute;
    z-index: 0;
    left: 15.2%;
    right: 2em;
    bottom: 5%;
    top: 410%;
    width: 79.9%;
    height: 25%;
    margin: 0em 2em 2em 2em;
    border: .1em;
    padding: 1% 1% 1% 1%;
    text-align: center;
}
/* added a shadow hover affect to footer, so people can know they are currently on it and to help separate it from the rest of content */
footer:hover{
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}
#social-style{
    color: white;
    text-decoration-line: underline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 1em 2em 1em 2em;
    margin: .5em;
}
#link-img-instagram{
    position: relative;
    flex: 1;
    border-radius: 50%;
    width: 5%;
    margin: .5em 1em 2em 1em;
    background-color: transparent;
}
#link-img-instagram:hover{
    box-shadow: 0px 5px 15px white;
}
#link-img-linkedin{
    position: relative;
    flex: 2;
    border-radius: 50%;
    width: 5%;
    margin: .5em 1em 2em 1em;
    background-color: transparent;
}
#link-img-linkedin:hover{
    box-shadow: 0px 5px 15px white;
}