body {
    background-color: gray;
}

header{ 
    width: 100%;
    background:url(headerbanner.jpg);
    background-size:cover;
    background-position:center ;    
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}