/* from lesson with Mr Schalk, Always do this */

*{box-sizing: border-box;}


body{
    background-color: #515050s;
}


/* background image for header was found on "pixabay.com" */

header{
    background-image: url(../images/star-background.jpg);
    background-size: cover;
    position: absolute;
    z-index: 0;
    left: 12em;
    top: 0;
    right: 0;
    width: 66.8em;
    height: 15em;
    margin: 0em .0em .1em .0em;
}
/* added a shadow hover affect to header, so people can know they are currently on it and to help seperate it from the content below */
header:hover{
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}

#profilePic{
    border-radius: 50%;
    width: 13em;
    margin: .5em 2em 2em 2em;
    border: solid rgb(0, 0, 0) .2em;
}

#profilePic:hover{
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}

#name {
    position: absolute;
    left: 18em;
    top: 0em;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    text-align: right;
    margin: 1em .1em .1em .1em;
    padding: .5em .2em .5em .2em;
}

#DateOfBirth{
    position: absolute;
    left: 58em;
    top: 6.3em;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: right;
    margin: .1em .9em .1em .1em;
    padding: .5em .2em .5em .2em;

}

#personalDescription{
    position: absolute;
    left: 17em;
    top: 8em;
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: right;
    margin: .1em .9em .1em .1em;
    padding: .5em .2em .5em .2em;
}

/* everything in nav */

/*the nav-container is to shape and size the navigation menu*/

#nav-container{
    background-color: rgb(67, 0, 105);
    
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100em;
    width: 12em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

/* added a shadow hover affect to nav, so people can know they are currently on it */
#nav-container:hover{
  box-shadow: 0 5px 15px rgb(0, 0, 0);  
}

/* h2=nav heading */
h2{
    position: relative;
    top:3em;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    margin-left: .5em;
    margin-right: .5em;
    border: solid 0.1em black;
    padding: .2em .2em .2em .2em;
    text-decoration-line: underline;
}

#nav-list{
    position: relative;
    top: 4em;
    color: white;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    text-align: left;
    
}


/* i seperated the nav-list from nav structure, for the nav-list provides the style and navList-structure, structures the list */

.navList-structure {
    margin-bottom: 1.9em;
    margin-right: 3em;
    margin-left: .1em;
    text-align: left;
  
}


/* how the link should look when not hovered or active */

.nav-link{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.nav-link:hover{
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    box-shadow: 0 0px 20px rgb(0, 0, 0);
    font-size: 1.5em;
    border: solid 0.1em black;
    padding: .1em .1em .1em .1em;
    margin-right: 1em;
    margin-left: -0.5em;
}

/* for the position of the section */

/* everything in section/main */

section{
    position: absolute;
    top: 15em;
    left: 12em;
    bottom: 15em;
}

.content-container{
    margin: 2em 2em 2em 2em;
    border: solid .2em black;
    padding: .1em 1em 1em .4em;
}


/* when you hover over my content, there will now be a shadow */
/* added a shadow hover affect to content containers, so people can know which part they are currently on and to separate each part from one another */
.content-container:hover{
    box-shadow: 0 7px 17px rgb(0, 0, 0);
}

/* h3=content heading */

h3{
    background-color: rgb(4, 153, 96);
    margin: 1em 1em 1em 0;
    padding:.4em .4em .4em .4em;
    border: solid .1em black;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}


/* h4= content sub heading */

h4{
    background-color: rgb(37, 64, 155);
    margin: 1em 2em 1em 0;
    padding: .1em 0em .1em 0em;
    border: solid .1em black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;

}

#GedLink {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 2em;
}

#GedLink:hover{
    background-color: rgb(4, 153, 96);
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 0.1em rgb(255, 253, 253);
    padding: .1em .1em .1em .1em;
    
}

#CodeSpaceLink{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 2em;
}

#CodeSpaceLink:hover{
    background-color: rgb(4, 153, 96);
    box-shadow: 0 5px 15px rgb(0, 0, 0);
    color: rgb(245, 245, 245);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 0.1em rgb(240, 240, 240);
    padding: .1em .1em .1em .1em;
}

#highschoolcontent-container{
    display: flex;
    flex-flow: row wrap;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    justify-content: space-between;
}

#type-container{
     flex: 2;
     padding: 1em, 2em, 1em, 2em;
     margin: 1em 2em 1em 2em;
}

#year-container{
    flex: 1;
    padding: 1em, 2em, 1em, 2em;
    margin: 1em 2em 1em 2em;
}


/* this second box is used for the list under "highschool diploma" and "intro to web" under the education part to keep them in line */

.Second-container{
     padding: 1em, 2em, 1em, 2em;
     margin: 1em 2em 1em 2em;
     font-size: 1em;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
}


/* this education description container is used for the list under "highschool diploma" and "intro to web" under the education part because they both contain the same type of info to keep them in line  */

.EducationDescription-container{
    padding: 1em, 2em, 1em, 2em;
    margin: 1em 2em 1em 2em;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#Course-container{
    display: flex;
    flex-flow: row wrap;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    justify-content: space-between;
    
}

#CourseYear-container{
    flex: 1;
    padding: 1em, 2em, 0em, 2em;
    margin: 1em 2em 0em 2em;
}

#typeCourse-container{
    flex: 2;
    padding: 1em, 2em, 0em, 2em;
    margin: 1em 2em 0em 2em;
}

.experience-container{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    padding: .5em 2em 0em 1em;
    margin: .5em 2em 0em 1em;
}

.skillsAndinterest-List{
    list-style: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin-bottom: .4em;
}

.coding-list{
    
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin-bottom: .6em;
    margin-left: .7em;
}

/* background image for footer was found on "pixabay.com" */

/* everything in the footer */

footer{
    background-image: url(../images/star-background.jpg);
    background-size: cover;
    position: absolute;
    z-index: 0;
    left: 12em;
    bottom: 0;
    right: 0;
    top: 170em;
    width: 66.8em;
    height: 15em;
    padding: .1em .1em 1em .1em;
    margin: .1em .1em .1em .1em;
}
/* added a shadow hover affect to footer, so people can know they are currently on it and to help separate it from the rest of content */
footer:hover{
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}

#footerHeadings-container{
    display: flex;
    flex-flow: row wrap;
}

#contact-style{
    flex: 1;
    color: white;
    text-decoration-line: underline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 1em 2em 1em 2em;
    margin: 1em 3em .3em 1em;
}

#social-style{
    flex: 1;
    color: white;
    text-decoration-line: underline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    padding: 1em 2em 1em 2em;
    margin: 1em 1em .3em 16em;
}

#contactANDsocialDetails-container{
    display: flex;
    flex-flow: row wrap;
}

#contactDeatils-container{
    flex: 3;
    display: flex;
    flex-flow: row wrap;
    margin: 0em 1em 0em 1em;
}

#linkImg-mail{
    flex: 1;
    border-radius: 50%;
    width: 5em;
    margin: 2em 2em 2em 2em;
    background-color: transparent;
}

#linkImg-phone{
    flex: 2;
    border-radius: 50%;
    width: 5em;
    margin: 2em 2em 2em 2em;
    background-color: transparent;
}


#socialDetails-container{
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    margin: 0em 1em 0em 8em;
}

#linkImg-instagram{
    flex: 1;
    border-radius: 50%;
    width: 5em;
    margin: 2em 2em 2em 2em;
    background-color: transparent;
}

#linkImg-linkdin{
    flex: 2;
    border-radius: 50%;
    width: 5em;
    margin: 2em 2em 2em 2em;
    background-color: transparent;
}
